<div class="container">

  <%= form_for(:session, url: sessions_path, :class => 'form-signin') do |f| %>
  <h2 class="form-signin-heading">Log in</h2>
  
  <%= f.label :email, :class => 'sr-only' %>
  <%= f.text_field :email, :class => 'form-control', :required => true, :autofocus => true,:id =>'inputEmail' %>

  <%= f.label :password, :class => 'sr-only' %>
  <%= f.password_field :password, :class => 'form-control', :required => true,:id =>'inputPassword' %>

  <div class="checkbox">
    <label>
          Remember me <%= f.check_box :remember_session %>
    </label>
  </div>
  <%= f.submit "Iniciar sesión", :class => 'btn btn-primary ' %>
  <br>
  <p>New user? </p>
  <% end %>

</div>