<p id="notice"><%= notice %></p>

<h1>Lista de Concursos</h1>

<% if @competitions.any? %>
<table frame="border" border="4">
  <thead>
    <tr>
      <th>Usuarios</th>
      <th>Nombre</th>
      <th>Url</th>
      <th>Fecha de inicio</th>
      <th>Fecha final</th>
      <th>Premio</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.users_id %></td>
        <td><%= competition.name %></td>
        <td><%= competition.url %></td>
        <td><%= competition.start_date %></td>
        <td><%= competition.end_date %></td>
        <td><%= competition.prize %></td>
        <td><%= link_to 'Ver', competition %>|
        <%= link_to 'Editar', edit_competition_path(competition) %>|
        <%= link_to 'Borrar', competition, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--< will_paginate @competitors %>-->
<% else %>
<p>No hay concursos disponibles.</p>
<% end %>
<br>

<%= link_to 'Crear concurso', new_competition_path %>
