<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Primer Nombre:" %><br>
    <%= f.text_field :firts_name %>
  </div>
  <div class="field">
    <%= f.label :"Segundo Nombre:" %><br>
    <%= f.text_field :second_name %>
  </div>
  <div class="field">
    <%= f.label :"Primer Apellido:" %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :"Segundo Nombre:" %><br>
    <%= f.text_field :second_last_name %>
  </div>
  <div class="field">
    <%= f.label :"Correo Electronico:" %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :"Contraseña" %><br>
    <%= f.password_field :password %>
  </div>
  <!--<div class="field">
    < f.label 'Es Administrador' %>
    < f.check_box :isadmin  %>
  </div>-->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
