<p id="notice"><%= notice %></p>

<h1>Home Concursos</h1>

<p>Su Código Identificador es: <%= @my_id_param %></p>

<%= link_to "Crear Concurso" , '/competitions/new', class: "btn btn-large btn-primary" %>

<h1>Lista de Concursos</h1>

<% if @competitions.any? %>
<table frame="border" border="4" >
  <thead>
    <tr>
      <th>ID Admin</th>
      <th>ID Concurso</th>
      <th>Nombre</th>
      <th>Url</th>
      <th>Fecha de Inicio</th>
      <th>Fecha Fin</th>
      <th>Premio</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.users_id %></td>
        <td><%= competition.id %></td>
        <td><%= competition.name %></td>
        <td><%= competition.url %></td>
        <td><%= competition.start_date %></td>
        <td><%= competition.end_date %></td>
        <td><%= competition.prize %></td>
        <td><%= link_to 'Ver', competition_path(competition.url) %>|
        <%= link_to 'Editar', edit_competition_path(competition.url) %>|
        <%= link_to 'Eliminar', competition_path(competition.url), method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @competitions %>
<% else %>
<p>No tiene concursos creados.</p>
<% end %>
