<p id="notice"><%= notice %></p>

<p>
  <strong>Código del competidor:</strong>
  <%= @competitor.id %>
</p>

<p>
  <strong>Nombre Participante:</strong>
  <%= @competitor.first_name %> <%= @competitor.second_name %> <%= @competitor.last_name %> <%= @competitor.second_last_name %>
</p>

<p>
  <strong>Fecha Ingreso:</strong>
  <%= @competitor.date_admission %>
</p>

<p>
  <strong>Correo Electronico:</strong>
  <%= @competitor.email %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @competitor.message %>
</p>

<p>
  <strong>Estado del Video:</strong>
  <%= @competitor.status_video %>
</p>

<strong>Video Original:</strong>
</p>
<div id="1-<%=@competitor.id%>">Cargando...</div>
<script type="text/javascript">
    var playerInstance = jwplayer("1-<%=@competitor.id%>");
    playerInstance.setup({
        file: "<%= url_final(@competitor.video_original.path) %>",
        width: 640,
        height: 360,
        title: '<%= @competitor.first_name %>',
        description: '<%= @competitor.message %>'
    });
</script>

</p>

<% if @competitor.status_video == 'En Proceso' %>
  <strong>El video esta siendo procesado!.</strong>

<% else %>
  <strong>Video Convertido:</strong></p>
    <div id="<%=@competitor.id%>">Cargando...</div>
    <script type="text/javascript">
        var playerInstance = jwplayer("<%=@competitor.id%>");
        playerInstance.setup({
            file: "<%= url_final(@competitor.video_converted.path) %>",
            width: 640,
            height: 360,
            title: '<%=@competitor.first_name %>',
            description: '<%=@competitor.message %>'
        });
    </script>
</p>
<% end %>
</p>



<br>


<%= link_to 'Atras', competition_url(@competitor.competitions_id) %>
