<p id="notice"><%= notice %></p>

<p>
  <strong>Código de la competición:</strong>
  <%= @competitor.id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @competitor.first_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @competitor.second_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @competitor.last_name %>
</p>

<p>
  <strong>Second last name:</strong>
  <%= @competitor.second_last_name %>
</p>

<p>
  <strong>Date admission:</strong>
  <%= @competitor.date_admission %>
</p>

<p>
  <strong>Email:</strong>
  <%= @competitor.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @competitor.message %>
</p>

<p>
  <strong>Status video:</strong>
  <%= @competitor.status_video %>
</p>

<strong>Video Original:</strong>

<%= video_tag @competitor.video_original.url(), controls: true , type: "video/x-msvideo" %>

<%= jw_player(@competitor.video_original.url(),:width => 100, :height => 110) %>



<% if @competitor.status_video == 'En Proceso' %>
  <strong>El video esta siendo procesado!.</strong>

<% else %>
  <strong>Video:</strong>
  <%= video_tag @competitor.video_converted.url(), controls: true, type: "video/mp4" %>
</p>
<% end %>

<br>


<!--<p>-->
<!--  <strong>Url video original:</strong>-->
<!--   @competitor.url_video_original %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Url video converted:</strong>-->
<!--  < @competitor.url_video_converted %>-->
<!--</p>-->

<%= link_to 'Back', competition_url(@competition) %>
